@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: "Comfortaa", cursive, sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  user-drag:none;
}


.collapse-toggle:checked + .collapse-title .collapse-arrow {
  transform: rotate(180deg); /* Rotate arrow when open */
}